
body, h1, h2, h3, h4, h5, h6, p, a, span, li, div {
    color: #ffffff !important;
}

nav{
  background: linear-gradient(135deg, #081057, #5313DC ,#7900A4); 
}
        #carouselExampleIndicators {
          max-width: 900px; 
          max-height: 600px; 
          margin:auto; 
        }
      
        #carouselExampleIndicators .carousel-inner img {
          width: 200%;
          height: 100%;
          
        }
   
        body {
          background: linear-gradient(135deg, #412181, #5313DC ,#7900A4);  
    color: #ffffff; 
}

    .container{

      margin-top:   100px;
   
  
    }
    .Picss {
      max-width: 800px; 
      margin: 20px auto;
      padding: 20px; 
      background-color: #295ac5; 
      border-radius: 30px; 
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      font-family: 'Arial', sans-serif; 
      line-height: 1.6; 
     margin-top: 150px;

    }
    
    .Picss div {
      margin-bottom: 15px; 
      font-size: 1.1rem; 
      color: #333; 
    }
  h4{
margin-top: 5%;
    margin-bottom: 10px; 
    padding: 6rem 11rem;
   
  }
    .card1{
margin: auto;
  
    }

.card {
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display:inline;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    border-radius: 10px;
    transition: transform 0.3s ease;
   
      height: 300px; 
      object-fit: cover; 
      width: 100%; 
  
}

.card:hover .card-img-top {
    transform: scale(1.15);
}
.jumbotron {
  background-color: linear-gradient(135deg, #081057, #5313DC ,#7900A4); 
  padding: 60px 20px; 
  border-radius: 8px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  flex-direction: column; 
}





#Wel{
margin-left: 60%;


}
.about-img{
  width: 450px;
  height: 300px
}
.about-us{
margin-bottom:5%;

}


.footer {
  background: linear-gradient(135deg, #081057, #5313DC ,#7900A4); 
    color: #fff;
    padding: 30px 0;
}


.footer-content {
  display: contents;
}

.footer-links, .footer-location, .footer-follow-us {
  padding: 10px; 
  border: 1px solid #ddd;
  border-radius: 8px; 
  background-color:linear-gradient(135deg, #081057, #5313DC ,#7900A4); 
}

.footer-links ul {
  list-style: none; 
  padding: 0;
}

.footer-links li {
  margin: 5px 0; 
}

.footer-follow-us a {
  margin-right: 10px; 
}

.footer-follow-us img {
  vertical-align: middle; 
}
.chip {
  display: inline-block;
  padding: 0 25px;
  height: 70px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #000000;
  margin-left: 11%;
  margin-bottom: 10%;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}   
